<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
<title>个人资料</title>

<link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet"
	type="text/css">
<link href="../AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet"
	type="text/css">

<link href="../css/personal.css" rel="stylesheet" type="text/css">
<link href="../css/infstyle.css" rel="stylesheet" type="text/css">
<script src="../AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
<script src="../AmazeUI-2.4.2/assets/js/amazeui.js"></script>
<script type="text/javascript">
	$(function() {
		$("[name='upduser']").click(function() {
			$("#myform").submit();
		});
	});
</script>

</head>

<body>
	<!--头 -->
	<header> <article>
	<div class="mt-logo">
		<!--顶部导航条 -->
		<div class="am-container header">
			<ul class="message-l">
				<div class="topMessage">
					<div class="menu-hd">
						<a href="#" target="_top" class="h"
							th:if="${session.user.uzname}!=null"
							th:text="'你好：'+${session.user.uzname}+'!'"></a>
					</div>
				</div>
			</ul>
			<ul class="message-r">
				<div class="topMessage home">
					<div class="menu-hd">
						<a href="#" target="_top" class="h">商城首页</a>
					</div>
				</div>
				<div class="topMessage my-shangcheng">
					<div class="menu-hd MyShangcheng">
						<a href="#" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a>
					</div>
				</div>
				<div class="topMessage mini-cart">
					<div class="menu-hd">
						<a id="mc-menu-hd" href="#" target="_top"><i
							class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong
							id="J_MiniCartNum" class="h">0</strong></a>
					</div>
				</div>
				<div class="topMessage favorite">
					<div class="menu-hd">
						<a href="#" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a>
					</div>
			</ul>
		</div>

		<!--悬浮搜索框-->

		<div class="nav white">
			<div class="logoBig">
				<li><img src="../images/logobig.png" /></li>
			</div>

			<div class="search-bar pr">
				<a name="index_none_header_sysc" href="#"></a>
				<form>
					<input id="searchInput" name="index_none_header_sysc" type="text"
						placeholder="搜索" autocomplete="off"> <input
						id="ai-topsearch" class="submit am-btn" value="搜索" index="1"
						type="submit">
				</form>
			</div>
		</div>

		<div class="clear"></div>
	</div>
	</div>
	</article> </header>
	<div class="nav-table">
		<div class="long-title">
			<span class="all-goods">全部分类</span>
		</div>
		<div class="nav-cont">
			<ul>
				<li class="index"><a href="#">首页</a></li>
				<li class="qc"><a href="#">闪购</a></li>
				<li class="qc"><a href="#">限时抢</a></li>
				<li class="qc"><a href="#">团购</a></li>
				<li class="qc last"><a href="#">大包装</a></li>
			</ul>
			<div class="nav-extra">
				<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利 <i
					class="am-icon-angle-right" style="padding-left: 10px;"></i>
			</div>
		</div>
	</div>
	<b class="line"></b>
	<div class="center">
		<div class="col-main">
			<div class="main-wrap">

				<div class="user-info">
					<!--标题 -->
					<div class="am-cf am-padding">
						<div class="am-fl am-cf">
							<strong class="am-text-danger am-text-lg">个人资料</strong> / <small>Personal&nbsp;information</small>
						</div>
					</div>
					<hr />

					<!--头像 -->
					<div class="user-infoPic">

						<div class="filePic">
							<input type="file" class="inputPic"
								allowexts="gif,jpeg,jpg,png,bmp" accept="image/*"> <img
								class="am-circle am-img-thumbnail" src="../images/hs.jpg" alt="" />
						</div>

						<p class="am-form-help">头像</p>

						<div class="info-m">

							<div>
								<b>用户名：<i th:text="${session.user.uzname}"></i></b>
							</div>
							<div class="vip">
								<span></span><a href="#">会员专享</a>
							</div>
						</div>
					</div>

					<!--个人信息 -->
					<div class="info-main">
						<form class="am-form am-form-horizontal" action="upduser"
							id="myform" method="post">
							<div>
								<input type="hidden" name="userid"
									th:value="${session.user.userid}"></input>
							</div>
							<div class="am-form-group">
								<label for="user-name2" class="am-form-label">昵称</label>
								<div class="am-form-content">
									<input type="text" th:name="uzname" id="user-name2"
										placeholder="nickname" th:value="${session.user.uzname}">
									<small>昵称长度不能超过40个汉字</small>
								</div>
							</div>

							<div class="am-form-group">
								<label for="user-name" class="am-form-label">姓名</label>
								<div class="am-form-content">
									<input type="text" name="nikname"
										th:value="${session.user.nikname}" id="user-name2"
										placeholder="name">

								</div>
							</div>

							<div class="am-form-group">
								<label class="am-form-label">性别</label>
								<div class="am-form-content sex">
									<span th:if="${session.user.usex}=='男'"> 
									<label class="am-radio-inline"> <input type="radio"
											name="usex" value="男" data-am-ucheck checked="checked">男</label>
									<label class="am-radio-inline"> <input type="radio"
											name="usex" value="女" data-am-ucheck> 女
									</label> <label class="am-radio-inline"> <input type="radio"
											name="usex" value="保密" data-am-ucheck> 保密
									</label>
									</span> 
									<span th:if="${session.user.usex}=='女'"> <label
										class="am-radio-inline"> <input type="radio"
											name="usex" value="男" data-am-ucheck> 男
									</label> <label class="am-radio-inline"> <input type="radio"
											name="usex" value="女" data-am-ucheck checked="checked">
											女
									</label> <label class="am-radio-inline"> <input type="radio"
											name="usex" value="保密" data-am-ucheck> 保密
									</label>
									</span> 
									<span th:if="${session.user.usex}==null"> <label
										class="am-radio-inline"> <input type="radio"
											name="usex" value="男" data-am-ucheck> 男
									</label> <label class="am-radio-inline"> <input type="radio"
											name="usex" value="女" data-am-ucheck> 女
									</label> <label class="am-radio-inline"> <input type="radio"
											name="usex" value="保密" data-am-ucheck checked="checked">
											保密
									</label>
									</span>

								</div>
							</div>

							<input type="hidden" th:value="${session.user.birthday}"
								id="birthday">
							<div class="am-form-group">
								<label for="user-birth" class="am-form-label">生日</label>
								<div class="am-form-content birth" >
									<div class="birth-select">
										<select id="yearId" th:name="birthday">
										</select> <em>年</em>
									</div>
									<div class="birth-select2">
										<select id="monthId" onchange="mychange()" th:name="birthday">
										</select> <em>月</em>
									</div>
									<div class="birth-select2">
										<select id="dateId" th:name="birthday">
										</select> <em>日</em>
									</div>
								</div>

							</div>
							<div class="am-form-group">
								<label for="user-phone" class="am-form-label">电话</label>
								<div class="am-form-content">
									<input id="user-phone" th:name="tellphone"
										th:value="${session.user.tellphone}"
										placeholder="telephonenumber" type="tel">

								</div>
							</div>
							<div class="am-form-group">
								<label for="user-email" class="am-form-label">电子邮件</label>
								<div class="am-form-content">
									<input id="user-email" th:name="email"
										th:value="${session.user.email}" placeholder="Email"
										type="email">

								</div>
							</div>
							<div class="am-form-group address">
								<label for="user-address" class="am-form-label">收货地址</label>
								<div class="am-form-content address">
									<a href="address.html">
										<p class="new-mu_l2cw">
											<span class="province">湖北</span>省 <span class="city">武汉</span>市
											<span class="dist">洪山</span>区 <span class="street">雄楚大道666号(中南财经政法大学)</span>
											<span class="am-icon-angle-right"></span>
										</p>
									</a>

								</div>
							</div>
							<div class="am-form-group safety">
								<label for="user-safety" class="am-form-label">账号安全</label>
								<div class="am-form-content safety">
									<a href="safety.html"> <span class="am-icon-angle-right"></span>

									</a>

								</div>
							</div>

							<div class="info-btn" name="upduser">
								<div class="am-btn am-btn-danger">保存修改</div>
							</div>

						</form>
					</div>

				</div>

			</div>
			<!--底部-->
			<div class="footer">
				<div class="footer-hd">
					<p>
						<a href="#">卓鼎教育</a> <b>|</b> <a href="#">商城首页</a> <b>|</b> <a
							href="#">支付宝</a> <b>|</b> <a href="#">物流</a>
					</p>
				</div>
				<div class="footer-bd">
					<p style="text-align: center;">
						<a href="#">合作伙伴</a> <a href="#">联系我们</a> <a href="#">网站地图</a> <em
							style="text-align: center;">© 2015-2025 zking 版权所有</em>
					</p>
				</div>
			</div>
		</div>
		<div th:include="person/index :: menu"></div>
	</div>
	<script type="text/javascript">
		// 一、往年份中添加1980-当前年份
		// 获取到年份的下拉框
		var yearSelect = $("#yearId");
		var birthday = $("#birthday");
		// 1、获取当前年份
		var year = new Date().getFullYear();
		// 2、使用循环向年份的下拉框中添加年份
		for (var y = 1980; y <= year; y++) {
			// 追加到下拉框
			if (birthday.val().slice(0, 4) == y) {
				yearSelect.append("<option selected='selected'>" + y
						+ "</option>");
			} else {
				yearSelect.append("<option>" + y + "</option>");
			}
		}

		// 添加月份
		var monthSelect = $("#monthId");
		for (var i = 1; i <= 12; i++) {
			if (birthday.val().slice(5, 6) == i) {
				monthSelect.append("<option selected='selected'>" + i
						+ "</option>");

			} else {
				monthSelect.append("<option>" + i + "</option>");
			}
		}
		// 获取月份
		var month = $("#monthId").val();
		// 获取选中的月份有多少天
		// 1 3 5 7 8 10 12  ==>31
		// 4 6 9 11  ==>30
		// 2 ->平年28 闰年29
		var dayCount = 31;// 默认位31天
		if (month == 4 || month == 6 || month == 9 || month == 11) {
			dayCount = 30;
		} else if (month == 2) {
			// 判断平年或者闰年
			// 获取年份
			var year = $("#yearId").val();
			if (year % 4 == 0 && year % 100 != 0 || year % 400 == 0) {
				// 闰年
				dayCount = 29;
			} else {
				dayCount = 28;
			}
		}
		var dateSelect = $("#dateId");
		// 清空日期下拉框中的所有东西
		dateSelect.empty();
		// 将天数追加到日期的下拉框
		for (var d = 1; d <= dayCount; d++) {
			if (birthday.val().slice(7, 8) == d) {
				dateSelect.append("<option selected='selected'>" + d
						+ "</option>");
			} else {
				dateSelect.append("<option>" + d + "</option>");
			}
		}

		function mychange() {
			// 获取月份
			var month = $("#monthId").val();
			// 获取选中的月份有多少天
			// 1 3 5 7 8 10 12  ==>31
			// 4 6 9 11  ==>30
			// 2 ->平年28 闰年29
			var dayCount = 31;// 默认位31天
			if (month == 4 || month == 6 || month == 9 || month == 11) {
				dayCount = 30;
			} else if (month == 2) {
				// 判断平年或者闰年
				// 获取年份
				var year = $("#yearId").val();
				if (year % 4 == 0 && year % 100 != 0 || year % 400 == 0) {
					// 闰年
					dayCount = 29;
				} else {
					dayCount = 28;
				}
			}
			var dateSelect = $("#dateId");
			// 清空日期下拉框中的所有东西
			dateSelect.empty();
			// 将天数追加到日期的下拉框
			for (var d = 1; d <= dayCount; d++) {
					dateSelect.append("<option>" + d + "</option>");
			}
		}
	</script>
</body>

</html>