<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzkj.mapper.collectormapper">

<resultMap type="com.dzkj.pojo.collector" id="coll">
<id property="cid" column="cid"/>
<association property="product" column="pid" javaType="com.dzkj.pojo.product">
<id property="pid" column="pid"/>
<result property="pname" column="pname"/>
<result property="price" column="price"/>
<result property="imgurl" column="imgurl"/>
<result property="inventory" column="inventory"/>
<result property="chuchandi" column="chuchandi"/>
</association>
<association property="users" column="userid" javaType="com.dzkj.pojo.users">
<id property="userid" column="userid"/>
<result property="uname" column="uname"/>
</association>

</resultMap>


<insert id="addsproduct" parameterType="com.dzkj.pojo.collector">
insert into collector values(seq_coll.nextval,#{users.userid},#{product.pid})
</insert>
 
<select id="query" resultMap="coll">
select * from collector c join product p on c.pid=p.pid where userid=#{userid}
</select>
</mapper>


